<!DOCTYPE html>
<html>
  <head>
    <title>GetGrub</title>
  </head>
  <body>

  <%= link_to 'New Request', new_request_path, {:class=>"btn btn-success"} %>
  <%= link_to 'Sign Out', users_sign_out_path, {:class=>"btn btn-danger"} %>

  </body>
</html>