@import "bootstrap";
      
body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-image:url('/assets/straws.png');
  font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
  font-size: 13px;
  color: #333;
}

h1 {
  font-size: 28px;
  color: #000;
}

#wrapper{
	margin: auto;
}

a.btn:visited{
	color: #fff;
}

a:hover{
	text-decoration: none;
}

#content_wrapper{
	box-sizing: border-box;
	margin: 40px auto;
	width: 60%;

	padding: 20px;

}

.buttons{

}