<div class="row">
    <div class="span_4">
        <%=image_tag("getgrub.png")%>
    </div>

</div>
<div class="clear"></div>

<div class="row">
    <div class="buttons">
        <%= link_to 'Sign Up!', new_user_registration_path, {:class=>"btn btn-warning btn-large"} %>
        <%= link_to 'Sign In!', user_session_path, {:class=>"btn btn-primary btn-large"} %>
    </div>
</div>

