<div class="row">
    <div class="span8">
        <!-- <h1 class="span5">Got hunger?</h1> -->
        <%=image_tag("getgrub.png")%>
    </div>
    <div class="span4 well well-large">

        <h1>Sign Up</h1>
        <p>Already have an account? <%= link_to 'Sign in here.', user_session_path %></p>
        <%=render :partial => 'shared/signup_form'%>
    </div>
</div>

